<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/dev.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: whitesmoke">

<nav class="navbar navbar-default" style="background-color: whitesmoke ;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Online Game Store</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="margin-left:20%">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/authtest/developerhome"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="/authtest/developerhome/allgames"><span class="glyphicon glyphicon-eye-open"></span> Game on Sales</a></li>
        <li><a href="/authtest/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
  <h3>Games on Sale</h3>
  <hr/>
  <div class="row" style="margin-top:5%">
    <div class="col-md-8">
      <ul class="event-list">
      {% for game in games %}
          <li>
            <img src="{{game.image_path}}" />
            <div class="info">
              <h4 class="title">{{game.name}}</h4>
              <p class="desc"><b>Price: </b>{{game.price}}€</p>
              <p class="desc"><b>Developer: </b>{{game.developer.user.username}}</p>
              <p class="desc"><b>Number of Sales: </b>{{game.salesCount}}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>

</body>
</html>
