<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/main1.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="{% static 'js/test.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
    {% for game in games %}
    $("#{{game.id}}").click(function(){
      payment_id = "payment".concat("{{game.id}}", "{{user.id}}");
      $("#pid{{game.id}}").val(payment_id);
      //checksum calculation
      var csrftoken = getCookie('csrftoken');
          $.ajax({
            "type": "POST",
            "dataType": "json",
            "url": "/authtest/playerhome/",
            "data": {
              csrfmiddlewaretoken : csrftoken,
              pid: payment_id,
              sid: "daraha",
              amount:"{{game.price}}",
              token:"0b9fdb71eb7619a798df209d54e49be0"
            },
            "success": function(result) {
              $("#checksum{{game.id}}").val(result.checksum);
              $("#form{{game.id}}").submit();

            },
        });
    });
    {% endfor %}
      //For getting CSRF token
function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
         // Does this cookie string begin with the name we want?
         if (cookie.substring(0, name.length + 1) == (name + '=')) {
             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
             break;
          }
     }
 }
 return cookieValue;
}
});
</script>
</head>
<body style="background-color: whitesmoke">

<nav class="navbar navbar-default" style="background-color: whitesmoke ;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Online Game Store</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="margin-left:20%">
    <form class="navbar-form navbar-left" action="/authtest/playerhome/searchresults/" method="POST">{% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
         
            <select class="form-control" name="cat">
            <option value="all">All</option>
              <option value="Action">Action</option>
              <option value="Sports">Sports</option>
              <option value="Adventure">Adventure</option>
            </select>
          
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="/authtest/playerhome/mygames"><span class="glyphicon glyphicon-eye-open"></span> My Games</a></li>
        <li><a href="/authtest/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
    <div class="row" style="margin-top: 1%">
    {% for game in games %}
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail" style="background-color: black; height:50%">
          <img src="{{game.image_path}}" class="img-responsive" style="width:400px; height:150px">
          <div class="caption" style="color:white">
            <h3 class="text-center">{{game.name}}</h3>
            <p class="text-center">{{game.price}}€</p>
            <form id="form{{game.id}}" action = "http://payments.webcourse.niksula.hut.fi/pay/" method = "POST">{% csrf_token %}
            <input type="hidden" id="pid{{game.id}}" name="pid"/>
            <input type="hidden" name="sid" value="daraha"/>
            <input type="hidden" name="success_url" value="https://rafay-wsdproject.herokuapp.com/authtest/success/{{game.id}}"/>
            <input type="hidden" name="cancel_url" value="https://rafay-wsdproject.herokuapp.com/authtest/cancel/{{game.id}}"/>
            <input type="hidden" name="error_url" value="https://rafay-wsdproject.herokuapp.com/authtest/error/{{game.id}}"/>
            <input type="hidden" id="checksum{{game.id}}" name="checksum">
            <input type="hidden" id="amount" name="amount" value="{{game.price}}">
            </form>
            <p class="text-center"><button id="{{game.id}}" class="btn btn-lg btn-danger">Buy</button></p>
          </div>
        </div>
      </div>
      {% endfor %}
</div>

</body>
</html>
